//
   Created with JetBrains WebStorm.
   User: SantiagoPC
   Date: 20/03/13
   Time: 01:30
   To change this template use File | Settings | File Templates.

extends layout

block content
    h1= title
    p Welcome to #{title}
    p por favor ingrese su nombre de usuario:
    form(method="post",action="/login")
        input(type="text",name="usuario")
        input(type="submit",name="submit")