!!!5
html(lang="en")
    head
        title titulo de pagina
    body
        h1 Jade - node template engine
        div#container
            p div con clase personalizada.
        div.myid
            p div con id personalizado.
        button(onclick='alert("click");',style='background-color:blue') boton con atributos