!!!5
html
    head
        title Titulo
    body
        header
            h2 Cabecera
        div.menu
            a(href='#') inicio
            a(href='#') info
        block contenido
        footer Pie de pagina